:root {
  --dorado: #d4af37;
  --marron: #5c4033;
  --rojo-cereza: #a10d2f;
  --rosa-pastel: #f8d9e0;
  --crema: #fff8e7;
}



.navbar {
  background-color: #a10d2f !important;
  color: white;
  font-weight: bold;
  border-radius: 1px;
  margin: 0 7% auto;
  max-width: 99%;
  padding: 0.5rem 0.75rem;
  
}


.navbar .btn {
  background-color: #d4af37; 
  border-color: transparent;
  padding: 12px 120px;
  max-width: 120px;
  display: flex;
  width: 10%;             
  box-sizing: border-box;   
  white-space: nowrap; 
}


.logo-redondo {
  width: 80px;              
  height: 80px;             
  border-radius: 50%;       
  object-fit: cover;      
  display: block;          
}

.titulo {
  padding-top: 120px;
}

.titulo2 {
  padding-top: 120px;
}

.card {
  transition: transform 0.2s ease, box-shadow 0.2s ease;
  background-color: #f8d9e0;
}

.card:hover {
  transform: scale(1.03);
}

h2 {
  font-weight: bold;
  margin-bottom: 30px;
}

footer {
  padding: 30px 20px;
}

.bg-secondary-subtle {
  background-color: #a10d2f !important; 
}

.footer-container {
  background-color: #fff8e7;
  padding: 10px 0;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}


.footer-bottom {
  background-color: #a10d2f !important; 
  color: black; 
  text-align: center;
  padding: 10px 0px;
  width: 100%;
  font-weight: bold;
  margin: 0;
}


.footer-left p {
  font-size: 14px;
  line-height: 1.6;
}

a.text-dark:hover {
  text-decoration: underline;
}

.header-bottom2 {
  background-color: var(--rojo-cereza);
  color: white;
  font-weight: bold;
  border-radius: 1px;
  margin: 0 auto 0.5rem auto;
  max-width: 99%;
  padding: 0.5rem 0.75rem;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1);
  position: fixed;     
  top: 0;              
  left: 7%;             
  right: 7%;          
  z-index: 1000;  
}

.header-bottom {
  background-color: var(--dorado);
  font-weight: bold;
  border-radius: 2px;
  padding: 0.8rem 1rem;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.1);
}


body {
  background-color: var(--crema);
  font-family: 'Lobster', cursive;
  margin: 0;
  padding: 0;
}

.nav-link {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.nav-link:hover {
  text-decoration: underline;
  color: var(--marron);
}

.bg-verdeclaro {
  background-color: var(--rosa-pastel);
}

.rounded-circle {
  background-color: var(--dorado);
}

h4 {
  font-size: 2rem; 
  font-weight: bold;
}



.mi-boton {
  background-color: #d4af37;
  color: black;
  border: none;
}

.btn-menu{
  background-color: #a10d2f;
   width: 250px;
  height: 100vh;
}

.parra-per{
  font-size: 1.8rem; 
  line-height: 1.6; 
}

.cs-botton {
  background-color: #d4af37;
  color: black;
}

.iconos-footer i {
  color: black !important;
}

.perfil {
  width: 300px;
  height: 300px;
  border-radius: 50%; 
  overflow: hidden;   
  margin: 0 auto 1rem; 
}

.perfil img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.botton-pqr {
  background-color: #d4af37;
  color: white;
  height: auto;
  margin-left: -70px;
}



@media (max-width: 576px) {
  .botton-pqr {
    width: 100%;
    font-size: 14px;
  }
}


@media (max-width: 1280px) {
  .navbar .btn {
    padding: 12px 50px; 
    width: 100%;         
    max-width: none;     
    justify-content: center; 
  }

  
}